.app {
  text-align: center;
}

.container {
  background-color: #212121;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 360px;
  overflow: hidden;
}

.display {
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  font-size: 2rem;
  color: white;
  height: 75px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 3px;
  background-color: #444;
  padding: 10px;
}

button {
  background-color: #666;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.operator {
  background-color: #ff9500;
}

.clear,
.equals {
  grid-column: span 2;
}

.equals {
  background-color: #ff2d55;
}

button:hover {
  background-color: #555;
}


.operator:hover {
  background-color: #e57400;
}


.equals:hover {
  background-color: #d8204d;
}
