.app {
    text-align: center;
}

.container {
    margin: 0 aut0;
    padding: 20px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    width: 360px;
    border-radius: 10px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.todo-form
{
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.todo-form input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.todo-form button {
    padding: 8px 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-form button:hover {
    background-color: #1b62ad;
}

.todos {
    list-style: none;
    padding: 0;
}

.todos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.todos li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 1rem;
}

.todos li button:hover {
    background-color: #c7182a;
}