.temperature-container {
  background-color: whitesmoke;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.5s;
  color: #333;
}

.title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255);
  margin: 20px 80px;
}

.temperature {
  font-size: 2.4rem;
}

.button-container {
  margin-top: 20px;
}

.increment,
.decrement {
  width: 40px;
  height: 40px;
  background-color: #3827cf;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.increment:hover,
.decrement:hover {
  background-color: #2e2397;
}

.increment:active,
.decrement:active {
  transform: scale(0.95);
}
